.SearchBar {
    width: 100% -24px;
    height: 20px;
    border-radius: 4px;
    background: white;
    padding: 12px;
    display: flex;
}

.SearchIcon {
    margin-right: 12px;
    font-size: 100px;
    color: black;
}