.Input {
    width: 100%;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    font-size: 1px;
}

.InputElement {
    outline: none;
    border: none;
    background-color: white;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 12px;
    margin-bottom: 20px;
}